<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black"
                        translate="aside.nav.components.knowledgeManagement.ADD_KNOWLEDGE"></h1>
                </div>
            </div>
        </div>
        <!-- #main header -->

        <!-- content panel -->
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name='addKnowledgeForm' novalidate angular-validator
                      angular-validator-submit='addKnowledge.saveKnowledge()'>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_NAME"></label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="knName" ng-model="addKnowledge.knObj.name"
                                   required-message="'{{'page.knowledgeManagement.msg.KN_NAME_REQUIRED' | translate}}'"
                                   required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_DEPT"></label>

                        <div class="col-sm-8">
                            <select name="knDept" class="form-control m-b" ng-model="addKnowledge.knObj.dept"
                                    required-message="'{{'page.knowledgeManagement.msg.KN_DEPT_REQUIRED' | translate}}'"
                                    required>
                                <option value="" selected>{{ 'common.CHOOSE' | translate}}</option>
                                <option>Department 1</option>
                                <option>Department 2</option>
                                <option>Department 3</option>
                                <option>Department 4</option>
                            </select>
                        </div>
                    </div>

                    <!-- radio button switcher between combine form-group #1 & #2 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_CLASS"></label>

                        <div class="col-sm-8">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="knClass" value="available"
                                           ng-model="addKnowledge.knObj.class"
                                           ng-click="addKnowledge.onSelectKnClassAvailable()"
                                           checked>
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_AVAILABLE"></span>
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="knClass" value="need" ng-model="addKnowledge.knObj.class"
                                           ng-click="addKnowledge.onSelectKnClassNeed()">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_NEED"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- combine form-group #1 -->
                    <div ng-if="addKnowledge.isSelectKnClass.available">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   translate="page.knowledgeManagement.KNOWLEDGE_KIND"></label>

                            <div class="col-sm-8">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="knKind" value="clear"
                                               checked ng-model="addKnowledge.knObj.kind"
                                               validator="addKnowledge.knKindRequireValidator() === true"
                                               angular-validator-quiet>
                                        <span translate="page.knowledgeManagement.KNOWLEDGE_CLEAR"></span>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="knKind" value="embedded"
                                               ng-model="addKnowledge.knObj.kind"
                                               validator="addKnowledge.knKindRequireValidator() === true"
                                               angular-validator-quiet>
                                        <span translate="page.knowledgeManagement.KNOWLEDGE_EMBEDDED"></span>
                                    </label>
                                </div>
                                <!-- validator message -->
                                <div ng-if="addKnowledgeForm.knKind.$invalid"
                                     ng-show="addKnowledgeForm.$submitted"
                                     ng-messages="addKnowledgeForm.knKind.$error">
                                    <label class="control-label has-error validationMessage"
                                           ng-message="angularValidator">{{
                                        'page.knowledgeManagement.msg.KN_KIND_REQUIRED'| translate}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   translate="page.knowledgeManagement.KNOWLEDGE_HOW"></label>

                            <div class="col-sm-8">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="knHow" value="elec"
                                               checked ng-model="addKnowledge.knObj.how"
                                               validator="addKnowledge.knHowRequireValidator() === true"
                                               angular-validator-quiet>
                                        <span translate="page.knowledgeManagement.KNOWLEDGE_ELEC"></span>
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="knHow" value="paper"
                                               ng-model="addKnowledge.knObj.how"
                                               validator="addKnowledge.knHowRequireValidator() === true"
                                               angular-validator-quiet>
                                        <span translate="page.knowledgeManagement.KNOWLEDGE_PAPER"></span>
                                    </label>
                                </div>
                                <!-- validator message -->
                                <div ng-if="addKnowledgeForm.knHow.$invalid"
                                     ng-show="addKnowledgeForm.$submitted"
                                     ng-messages="addKnowledgeForm.knHow.$error">
                                    <label class="control-label has-error validationMessage"
                                           ng-message="angularValidator">{{
                                        'page.knowledgeManagement.msg.KN_HOW_REQUIRED'| translate}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   translate="page.knowledgeManagement.KNOWLEDGE_PLACE"></label>

                            <div class="col-sm-8">
                                <input type="text" name="knPlace" class="form-control"
                                       ng-model="addKnowledge.knObj.place"
                                       required-message="'{{'page.knowledgeManagement.msg.KN_PLACE_REQUIRED' | translate}}'"
                                       required>
                            </div>
                        </div>
                    </div>
                    <!-- #combine form-group -->

                    <!-- combine form-group #2 -->
                    <div ng-if="addKnowledge.isSelectKnClass.need">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   translate="page.knowledgeManagement.KNOWLEDGE_PERIOD"></label>

                            <div class="col-sm-8">
                                <input type="text" name="knPeriod" class="form-control"
                                       ng-model="addKnowledge.knObj.period"
                                       required-message="'{{'page.knowledgeManagement.msg.KN_PERIOD_REQUIRED' | translate}}'"
                                       required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   translate="page.knowledgeManagement.KNOWLEDGE_PLAN"></label>

                            <div class="col-sm-8">
                                <textarea name="knPlan" class="form-control" ng-model="addKnowledge.knObj.plan"
                                          required-message="'{{'page.knowledgeManagement.msg.KN_PLAN_REQUIRED' | translate}}'"
                                          required/>
                            </div>
                        </div>
                    </div>
                    <!-- #combine form-group -->

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.MANAGER_NAME"></label>

                        <div class="col-sm-8">
                            <input type="text" name="knManager" class="form-control"
                                   ng-model="addKnowledge.knObj.managerName"
                                   required-message="'{{'page.knowledgeManagement.msg.KN_MANAGER_REQUIRED' | translate}}'"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_NOTES"></label>

                        <div class="col-sm-8">
                            <textarea name="knNotes" class="form-control" ng-model="addKnowledge.knObj.notes"/>
                        </div>
                    </div>


                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">
                                <span translate="common.SAVE"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="addKnowledgeForm.reset();addKnowledge.initFormValues();addKnowledge.initIsSelectKnClassValues()">
                                <span translate="common.CANCEL"></span>
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <!-- #content panel -->

    </div>
</div>






