
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = false;">

    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black"
                        translate="aside.nav.components.knowledgeManagement.ADD_KNOWLEDGE"></h1>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" method="">

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_NAME"></label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="kn.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_DEPT"></label>

                        <div class="col-sm-8">
                            <select name="account" class="form-control m-b" ng-model="kn.dept">
                                <option></option>
                                <option>Department 1</option>
                                <option>Department 2</option>
                                <option>Department 3</option>
                                <option>Department 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_CLASS"></label>

                        <div class="col-sm-8">

                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios10" id="optionsRadios10" value="option1"
                                           checked ng-model="kn.available">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_AVAILABLE"></span>
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios10" id="optionsRadios20" value="option2"
                                           ng-model="kn.need">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_NEED"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_KIND"></label>

                        <div class="col-sm-8">

                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios100" id="optionsRadios100" value="option1"
                                           checked ng-model="kn.clear">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_CLEAR"></span>
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios100" id="optionsRadios200" value="option2"
                                           ng-model="kn.embedded">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_EMBEDDED"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group" >
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_HOW"></label>

                        <div class="col-sm-8">

                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios1000" id="optionsRadios1000" value="option1"
                                           checked ng-model="kn.elec">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_ELEC"></span>
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="optionsRadios1000" id="optionsRadios2000" value="option2"
                                           ng-model="kn.paper">
                                    <span translate="page.knowledgeManagement.KNOWLEDGE_PAPER"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_PLACE"></label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="kn.place">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               translate="page.knowledgeManagement.KNOWLEDGE_NOTES"></label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="kn.notes">
                        </div>
                    </div>


                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="saveKnowledge()">
                                <span translate="common.SAVE"></span>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="resetKnowledge()">
                                <span translate="common.CANCEL"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>






